<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tanishka.basic_budget_app">

    <!--
     To auto-complete the email text field in the login form with the user's emails
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeScreen">
        </activity>

        <activity android:name=".ViewBudget"
            android:parentActivityName=".HomeScreen">

        </activity>
        <activity android:name=".GoogleDriveActivity"
            android:parentActivityName=".HomeScreen" />

        <activity android:name=".UpdateAccount"
            android:parentActivityName=".HomeScreen">

        </activity>
        <activity android:name=".AmazonActivity">
            <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true"
                android:parentActivityName=".HomeScreen" />
        </activity>
    </application>

    <!--- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>